<ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
</ul>

<h2>More Links ⛓</h2>
<p>
    🔗 <a id="cy-effective-orcid-url" class="underline" href="https://orcid.org/0000-0001-5474-2649" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align: top">
    <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width: 1em; margin-inline-start: 0.5em" alt="ORCID iD icon"/> ORCID</a> 🔗 
    <a href="https://arxiv.org/a/steinmetz_a_1.html">arXiv</a> 🔗 
    <a href="https://www.astrobin.com/users/djinn/">AstroBin</a> 🔗 
    <a href="https://www.linkedin.com/in/ajsteinmetz/">LinkedIn</a> 🔗 
    <a href="https://mathscinet.ams.org/mathscinet/freetools/collab-dist?source=1443426&target=189017">My Erdős number is 5.</a>
</p>
